.btn {
  display: inline-flex;
  align-items: center;
  padding: 8px 16px;
  cursor: pointer;
  color: white;
  border: none;
}

.btn:hover {
  opacity: 0.8;
  font-weight: normal;
}

.btn:disabled {
  opacity: 0.5;
  cursor: auto;
}